In [1]:
import pandas as pd
import numpy as np
from Keras import load_model

In [3]:
test_df=pd.read_csv("test.csv")

In [4]:
test_df.head()

  image_names
0    1960.jpg
1     668.jpg
2    2082.jpg
3     808.jpg
4    1907.jpg

In [5]:
model_file1=load_model('km_clf1.hdf5')
model_file2=load_model('km_clf2.hdf5')
model_file3=load_model('km_clf3.hdf5')
model_file4=load_model('km_clf4.hdf5')
model_file5=load_model('km_clf5.hdf5')

In [6]:
predicted=0.2(model_file1.predict(np.array(test_df.iloc[:,0]))+model_file2.predict(np.array(test_df.iloc[:,0]))+model_file3.predict(np.array(test_df.iloc[:,0]))+model_file4.predict(np.array(test_df.iloc[:,0]))+model_file5.predict(np.array(test_df.iloc[:,0])))

In [8]:
test_df['predicted_final']=0
for i in range(len(test_df)):
    test_df['predicted_final'][i]=predicted[0]

In [12]:
test_df.to_csv('submission_new.csv',index=False)